<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean id = "dataService" scope="singleton" class="com.zhiming.oauth2.server.service.impl.DataServiceImpl"/>
    <bean id = "oAuthService" scope="singleton" class="com.zhiming.oauth2.server.service.impl.OAuthServiceImpl"/>
    <bean id = "loginService" scope="singleton" class="com.zhiming.oauth2.server.service.impl.LoginServiceImpl"/>
    <bean id = "clientService" scope="singleton" class="com.zhiming.oauth2.server.service.impl.ClientServiceImpl"/>

</beans>